html {
    font-family: 'Open Sans';
    font-size: 16px;

    --color-red: #df5151;
    --color-black: #14171A;
    --color-light-gray: #AAB8C2;
    --color-ex-light-gray: #F5F8FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

img {
    display: block;
    max-width: 100%;
}

body {
    background: var(--color-ex-light-gray);
}

header {
    font-size: 1.5rem;
    color: var(--color-ex-light-gray);
    background: var(--color-red);
    padding: 0.5rem;

    flex: 0.01;

    min-height: 5vh;
}

.header-content {
    display:flex;
    justify-content: space-between;
    align-items: baseline;

    max-width: 1600px;
    margin: auto;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.header-content a {
    color: white;
    text-decoration: none;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;

    max-width: 1600px;
    min-height: 91vh;
    margin: auto;

    padding: 0.25rem;

}

.vl {
    min-height: 100%;
    width: 1px;
    background: var(--color-black);
}
.content-left {
    flex: 0.25;
}

.content-middle {
    flex: 1;
}

.content-right {
    flex: 0.15;
}
.content-middle {
    padding: 2rem;
}
.content-left a {
    display: block;
    padding: 0.5rem;
    margin: 1rem 0rem;

    font-weight: bold;
    text-decoration: none;
    color: var(--color-black);
}
.content-left a:hover {
    background: var(--color-light-gray);
}

.content-left a:hover, .content-left a:active {
    color: var(--color-red);
}

button, input[type='submit'] {
    cursor: pointer;

    padding: 0.35rem 1rem;
    font-size: 1rem;

    background: var(--color-ex-light-gray);
    border-radius: 0.5rem;
}

button:hover, input[type='submit']:hover {
    background: var(--color-light-gray);
}

