<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>No Title</title>
    {% endif %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_auth/css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="header-left">
                <a href="{% url 'homepage' %}"><h1>Blog-It!</h1></a>            
            </div>
            <div class="header-right">
                {% if user.is_authenticated %}
                    <p>Welcome, <b>{{ user.username }}</b></p>
                    <a href="{% url 'profile' %}"><button>Profile</button></a>
                    <form method="POST" action="{% url 'logout-user' %}">
                        {% csrf_token %}
                        <input type="submit" value="Log out">
                    </form>
                {% else %}
                    <p><a href="/login">Login</a> | <a href="/register">Register</a></p>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="content">
        <div class="content-left">
            <nav>
                <a href="#">Profile</a>
                <a href="#">Saved Blogs</a>
                <a href="#">Messages</a>
            </nav>
        </div>
        <div class="vl"></div>
        <div class="content-middle">
            <main>
                {% block content-middle %}
                {% endblock %}
            </main>
        </div>
        <div class="content-right">
            <section>
                {% block content-right %}
                {% endblock %}
            </section>
        </div>
    </div>    
</body>
</html>