{% extends "user_auth/base.html" %}

{% block content-middle %}
    <form method="POST">
        {% csrf_token %}

        <div class="form-element">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-element">
            <label for="password1">Password: </label>
            <input type="password" name="password" id="password">
        </div>
        <input type="submit" value="Log in">
    </form>
    <p>Do not have an account? <a href="{% url 'register-user' %}">Register here</a>.</p>
{% endblock %}