{% extends "user_auth/base.html" %}

{% block content-middle %}
    <h1>User: {{user.username}}</h1>
    <p>First name: {{user.first_name}}</p>
    <p>Last name: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <br>
    <h3>Bio:</h3>
    <p>{{user.profile.user_bio}}</p>

    <br>
    <br>
    <div class="bio-edit">
        <label for="user-bio">Edit bio:</label>
        <form action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            <textarea name="user-bio" id="user-bio" cols="30" rows="5">{{user.profile.user_bio}}</textarea>
            <br>
            <br>
            <input type="submit" value="Change Bio">
        </form>
    </div>
{% endblock %}
